* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/*Header*/
header {
  display: flex;

  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: black;
}

.menu li {
  margin: 1rem;
}

.menu a:hover {
  transition: 1s;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.705);
}

.contact {
  color: black;
  font-weight: 700;
}

/*Main destaques*/

.destaque {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 70vh;
}

.destaque__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
}
.destaque__info h1 {
  font-size: 3rem;
}
.destaque__info ul {
  display: flex;
  justify-content: space-evenly;
}

.destaque__info span {
  font-weight: 700;
}

.perfil img {
  width: 320px;
  border-radius: 100%;
}

/*Sobre Mim*/

.sobremim {
  background-color: #eaf2fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.sobremim__box {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sobremim__box h2 {
  font-size: 3rem;
}

.sobremim__box p {
  font-size: 1rem;
}

.assinatura {
  width: 150px;
}

/*Skills*/
.skills {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60vh;
}

.hobbie_text {
  text-align: center;
}

.skills__habilidade,
.hobbies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skills__item,
.hobbies__item {
  width: 100%;
  max-width: 300px;
  height: 210px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.skills__item i,
.hobbies__item i {
  font-size: 10rem;
}

/*Projetos*/
.projetos {
  height: 65vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.projetos__space {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projetos__img {
  width: 100%;
  max-width: 500px;
  height: 100%;
  border-radius: 10px;
}

.projetos__card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  display: flex;
  margin: 5px;
}

.projetos__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

/*Form Contato*/

.contato {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaf2fd;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
}

form h3 {
  font-weight: 800;
}

form button {
  width: 40%;
  height: 30px;
  background-color: #c2dcff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

input {
  height: 30px;
  border: none;
  border-bottom: solid 2px #c2dcff;
  border-radius: 5px;
}

.mensagem {
  height: 60px;
}
